<tr>
    <td style="border: 0px dotted #000000;">ДАТА</td>
    <td style="border: 0px dotted #000000;"><%= @item %></td>
    <td style="border: 0px dotted #000000;">НАЗВАНИЕ</td>
    <td style="border: 0px dotted #000000;">СОСТОЯНИЕ</td>
</tr>
