<%= link_to "Мои проекты", :action => "my_projects" %>
<table cellspacing="0" cellpadding="0" align="top" style="width: 100%; border: 0px dotted #000000; border-collapse: collapse; padding: 0px; background-image: none; float: none; display: table;" frame="void" rules="none" class=" htmtableborders">
	<tbody>
		<tr>
			<td>
	        	<% if @projectlist.instance_of? Array and  @projectlist.count > 0 %>
				<table cellspacing="0" cellpadding="3" align="top" style="width: 100%; border: 0px dotted #000000; border-collapse: collapse; padding: 0px; background-image: none; float: none; display: table;" frame="void" rules="none" class=" htmtableborders">
				    <tbody>
				    	<tr><td><b>ID</b></td><td><b>Название</b></td></tr>
	        		<% for @item in @projectlist %>
	        			<%= render "project_list_item" %>
					<% end %>
	        		</tbody>
	     		</table>
	        	<% else %>
	        		<font color="red">Нет проектов</font>
	        	<% end %>
        	</td>
		</tr>
	</tbody>
</table>
